#!/usr/bin/make -f

#See debhelper(7) (uncomment to enable)
export PYBUILD_NAME=udpscope

%:
dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
dh_auto_install
# Install the CLI script
install -D -m 0755 debian/udpscope-wrapper $(DESTDIR)/usr/bin/udpscope

override_dh_python3:
dh_python3

override_dh_install:
dh_install

.PHONY: override_dh_auto_install override_dh_python3 override_dh_install